.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.footer {
  background-color: #282c34;
  color: white;
  padding: 1rem;
}

.footer{
  margin-top: auto;
}

.content {
  flex-grow: 1;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.post-date {
  font-size: 1em;
  color: #888;
  margin-bottom: 20px;
}